In [13]:
import time
import json
import numpy as np
import pandas as pd
from pytrends.request import TrendReq

In [25]:
with open('sp500_companies.json') as f:
    companies = json.loads(f.read())
symbol = [i['Symbol'] + ' stock' for i in companies]
print(len(symbol))

sp500_trends = []

505

In [15]:
pytrends = TrendReq(hl='en-US', tz=360)

In [27]:
def recursive_trend_call(index=0):
    for i in np.arange(index, len(symbol)):
        if ((i%10) == 0):
            print('{} / 505 Complete'.format(i))
        try:
            pytrends.build_payload([symbol[i]], cat=0, timeframe='today 5-y', geo='', gprop='')
            sp500_trends.append(pytrends.interest_over_time())
            time.sleep(1)
        except Exception as e:
            print(e)
            print('Exception hit... going to sleep.')
            time.sleep(100)
            print('Awake and recursing')
            recursive_trend_call(index=i)
    print('COMPLETE!')

In [28]:
recursive_trend_call()

0 / 505 Complete
10 / 505 Complete
20 / 505 Complete
30 / 505 Complete
40 / 505 Complete
50 / 505 Complete
60 / 505 Complete
70 / 505 Complete
80 / 505 Complete
90 / 505 Complete
100 / 505 Complete
110 / 505 Complete
120 / 505 Complete
130 / 505 Complete
140 / 505 Complete
150 / 505 Complete
160 / 505 Complete
170 / 505 Complete
180 / 505 Complete
190 / 505 Complete
200 / 505 Complete
210 / 505 Complete
220 / 505 Complete
230 / 505 Complete
240 / 505 Complete
250 / 505 Complete
260 / 505 Complete
270 / 505 Complete
280 / 505 Complete
290 / 505 Complete
300 / 505 Complete
310 / 505 Complete
320 / 505 Complete
330 / 505 Complete
340 / 505 Complete
350 / 505 Complete
360 / 505 Complete
370 / 505 Complete
380 / 505 Complete
390 / 505 Complete
400 / 505 Complete
410 / 505 Complete
420 / 505 Complete
430 / 505 Complete
440 / 505 Complete
450 / 505 Complete
460 / 505 Complete
470 / 505 Complete
480 / 505 Complete
490 / 505 Complete
500 / 505 Complete
COMPLETE!

In [31]:
dataframe = pd.DataFrame(sp500_trends[0])
dataframe.drop(['isPartial'], axis=1, inplace=True)
dataframe.head()

            MMM stock
date
2016-05-22         10
2016-05-29          2
2016-06-05         16
2016-06-12          6
2016-06-19          7

In [ ]:
tmp = 
dataframe.mer

In [35]:
for i in np.arange(1, len(sp500_trends)):
    tmp = pd.DataFrame(sp500_trends[i])
    dataframe = dataframe.merge(tmp, how='outer', left_on='date', right_on='date')
    dataframe.drop(['isPartial'], axis=1, inplace=True)
dataframe.head()

,MMM stock,AOS stock,ABT stock,ABBV stock,ABMD stock,ACN stock,ATVI stock,ADBE stock,AAP stock,AMD stock,...,WLTW stock,WYNN stock,XEL stock,XLNX stock,XYL stock,YUM stock,ZBRA stock,ZBH stock,ZION stock,ZTS stock
date,,,,,,,,,,,,,,,,,,,,,
2016-05-22,10,37,6,4,0,21,7,6,5,9,...,0,5,15,9,23,13,0,13,0,0
2016-05-29,2,0,2,8,16,11,8,4,23,11,...,24,8,31,3,0,9,0,0,3,29
2016-06-05,16,19,6,21,0,19,5,8,14,9,...,0,4,0,0,0,25,0,38,0,29
2016-06-12,6,19,3,4,8,13,5,8,4,10,...,0,6,45,0,0,24,0,13,1,29
2016-06-19,7,0,5,12,0,22,9,26,14,16,...,0,4,15,3,0,11,11,13,1,29

In [40]:
column_name_mapper = {}
for i in dataframe.columns:
    column_name_mapper[i] = (i.split()[0])

In [41]:
dataframe.rename(columns=column_name_mapper, inplace=True)
dataframe.head()

,MMM,AOS,ABT,ABBV,ABMD,ACN,ATVI,ADBE,AAP,AMD,...,WLTW,WYNN,XEL,XLNX,XYL,YUM,ZBRA,ZBH,ZION,ZTS
date,,,,,,,,,,,,,,,,,,,,,
2016-05-22,10,37,6,4,0,21,7,6,5,9,...,0,5,15,9,23,13,0,13,0,0
2016-05-29,2,0,2,8,16,11,8,4,23,11,...,24,8,31,3,0,9,0,0,3,29
2016-06-05,16,19,6,21,0,19,5,8,14,9,...,0,4,0,0,0,25,0,38,0,29
2016-06-12,6,19,3,4,8,13,5,8,4,10,...,0,6,45,0,0,24,0,13,1,29
2016-06-19,7,0,5,12,0,22,9,26,14,16,...,0,4,15,3,0,11,11,13,1,29

In [42]:
dataframe.to_csv('google_trend_sp500.csv')